.user-card {
  display: flex;
  flex-direction: column;
  /* align-items: center;  */
  justify-content: center;
  text-align: center;
}



.default-user-photo {
  width: 280px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  opacity: 0.9;
  margin: 0 auto 15px auto; /* center horizontally */
  display: block;
}
